p{
	
	
}
.para{
	padding-bottom:1%;
	text-align: justified;
}
.termsbox{
	padding: 2%;
}

.st
{
	font-size: 2em;
	text-align: left;
	padding-left: 1%;
	background-color: #e0ded0;
  

}
#cpp
{
	text-align: center;
	font-size: 3em;
}
